body {
  /* Set the background image and specify other background properties as needed */
  background-image: url('https://wallpapers.com/images/hd/disney-characters-and-magical-castle-wmu7s6xozw5bnyhk.jpg');
  background-size: contain; /* Adjust as needed, e.g., 'contain' */
  background-position: center center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  /* Additional styles to reset default margin/padding */
  margin: 0;
  padding: 0;
  
}

.container {
    display: flex;
  }
  
    .column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  header {
    text-align: center;
  }

  #random-picture {
    width: 200px; 
    height: 200px; 
  }

  #filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
  }

  #filter-buttons button {
    margin-bottom: 5px;
    width: 100px;
    height: 50px;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
  }


  #random {
    width: 200px;
    height: 25px;
    border: none;
    outline: none;
    color: #fff;
    background: grey;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }

  #random:before {
    content: '';
    background: linear-gradient(90deg,#393e8f, #f3cc64, #b12228, #efbeb7, #ffffff, #12194a);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 30s linear infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 10px;
  }

  #random:active {
    color: black
  }

  #random:active:after {
    background: transparent
  }

  #random:hover:before {
    opacity: 1
  }

  #random:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0;}
    100% { background-position: 0 0; }
  }

  #new-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }

  


