body {
  /* Set the background image and specify other background properties as needed */
  background-image: url('https://wallpapers.com/images/hd/disney-characters-and-magical-castle-wmu7s6xozw5bnyhk.jpg');
  background-size: contain; /* Adjust as needed, e.g., 'contain' */
  background-position: center center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  /* Additional styles to reset default margin/padding */
  margin: 0;
  padding: 0;
  
}

.container {
    display: flex;
  }
  
    .column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  header {
    text-align: center;
  }

  #random-picture {
    width: 200px; 
    height: 200px; 
  }

  #filter-buttons {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  #filter-buttons button {
    margin-bottom: 5px;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
  }